<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Outlier Detection Result</title>
</head>
<body>
    <h1>Outlier Detection and Classification Result</h1>
    <h2>Outlier Flower image is outlined by red colour</h2>
    {% for path in file_paths %}
        {% if path == outlier_path %}
            <img src="{{ path }}" width="150" style="border: 3px solid red;">
        {% else %}
            <img src="{{ path }}" width="150">
        {% endif %}
    {% endfor %}
    <h3>The odd flower detected is a "{{ flowername }}"</h3>

    <br><a href="/">Upload More Images</a>
</body>
</html>